.menu {
    justify-content: space-evenly;
    background-color: black;
}

.menu a {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color:cornflowerblue;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    align-content: center;
    color: green;
    background-color: black;
}

.title h1{
    margin: 0px;
}